{
  "server": false,
  "datacenter": "{{datacenter}}",
  "node_name": "{{ansible_hostname}}",
  "data_dir": "/consul-data",
  "bind_addr": "{{ansible_default_ipv4.address}}",
  "client_addr": "127.0.0.1",
  "retry_join": ["consuls1", "consuls2", "consuls3"],
  "encrypt": "0nPnhe+YEdMvoxQ7SaMSrl3GdWllemmQLyScRP7VEzs="

}
