listener "tcp" {
  address = "0.0.0.0:8200"
  cluster_address  = "0.0.0.0:8201"
  tls_cert_file = "{{ cert }}"
  tls_key_file  = "{{ privatekey}}"
  tls_skip_verify = "false"
}

storage "consul" {
  address = "127.0.0.1:8500"
  path    = "vault-data/"
  token   = "{{ agenttoken }}"
  ha_enabled = "true"
}

api_addr = "https://{{ ansible_default_ipv4.address }}:8200"
cluster_addr =  "https://{{ ansible_default_ipv4.address }}:8201"
max_lease_ttl = "24h"
default_lease_ttl = "10h"
ui = true

# /etc/vault/config.d/plugins.hcl
plugin_directory = "/etc/vault/plugins"
disable_mlock = true
